.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-poltek {
    -webkit-filter: drop-shadow(4px 4px 4px #ffffff);
    filter: drop-shadow(4px 4px 4px #ffffff);
}

.btn-hover:hover {
    background-image: linear-gradient(to bottom right, #ff6161, #e44343); /* Change background color on hover */
}

.text-bright {
    color: #d2d2d2; /* Use white color for bright text */
}

.status-circle {
    position: absolute;
    top: 20px; /* Adjust as needed for positioning */
    right: 20px; /* Adjust as needed for positioning */
    width: 20px; /* Adjust as needed for size */
    height: 20px; /* Adjust as needed for size */
    border-radius: 50%;
}

.text-large {
    font-size: 800%;
}

.active > .page-link,
.page-link.active {
    border-color: #fc3b3b;
    background-color: #fc3b3b;
}
.page-link.active:hover {
    color: white;
}

.page-link, .page-link:hover{
    color: #fc3b3b;
}

.paginate_button.page-item.active > a.page-link:hover{
    color: white;
}

.page-item.next:focus, .page-item.previous:focus{
    color: #fc3b3b;
}

table.dataTable {
    text-align: center;
}
